/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */




/* Swipe box- photography page */
.outer {
    position: relative;
    background: url(img/pic1.jpg);
    max-width: 100%;
    height: 400px;
    background-position: center;
  }
  @media {

  }
 .topright {
    position: absolute;
    top: 1em;
    right: 2em;
    width: 120px;
    padding: 4px;
    background-color: ;
    font-weight: bold;
    font-size: 11px;
  }

/*calculator */
#saving-box {
  overflow: hidden;
}

#calc-canvas {
  z-index: -5 !important;
}
.saveAll {
}
.active {
  display: block;
}
/* swiper shit */
swiper-container {
    width: 600px;
    height: 300px;
}
.swiper-container {
        width: 500px;
        height: 300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

/* pushpin customs */
@media (min-width:992px) {
    #aside {
        width:250px;
    }
}

@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: auto !important;
    }
}
.pinned {

}
 /*resize images on slides */
 .slideimg {
   max-width: 35%;
   max-height: 85px;
 }
/* makes footer sticky */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/*padding for service section */
.index-panel {
  padding: 60px 0px;
}

/* colouring the dropdown links/nav */
.dropdown a {
  color: #ffffff !important;
}

/* moves indicators up and hides space */
.slider {
  margin-bottom: -60px;
  height:
}
 .slider .indicators {
   bottom: 60px;
   z-index: 100;
   /* text-align: left; */
 }

/* resize logo */
.logo {
  padding-top: 15px;
  max-height: 55px !important;
}

.about-us {
  max-height: 70px !important;
}

p {
  line-height: 2rem;
}


.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

/* icons on package pages */
.pack-icon .material-icons{
  font-size: inherit;
}

/*gallery swipebox tweaks */
.dont-show {
  display: none;
}

footer.page-footer {
  margin: 0;
}
