#about.about.black
  .container
    .col.s12.white-text.flex-col
      h3#aboutTitle.scrollspy It all started when...
      p I began trying to learn this fancy new field of datascience.
      p I got my hands dirty with the John Hopkins Coursera Data Science course. R was a steep learning curve from nothing.
      p When I found FreeCodeCamp Front End Development course I was instantly hooked. Since Then I have continued learning as much as I can about the Web Development world and completed freelance websites for restaurants in Auckland. Today I am digging into React, Nodejs and working my way towards becoming a Full Stack Developer.
