#about.about.black
  .container
    .col.s12.white-text.flex-col
      h3#aboutTitle.scrollspy About Me
      //- p I am Junior Front End Developer in Auckland, New Zealand.
      //- p Currently working as a freelance web developer (sited).
      //- br
      //- br
      //- p I love programming, it is the most frustrating and satisfying thing I have ever done. FreeCodeCamp, Youtube, StackOverflow, MDN and many other resources have all combined to my curriculum.
      //- p I am fascinated by people and their behaviours.
      //- p I hold a BSc in psychology and a PostGradDiploma in Applied Behaviour Analysis
      //- br
      //- p At govHack 2016 I led a team of developers to create solsearch(link). Working in a Agile team, being involved in the key decisions for the product, made me fall with Agile Software Development.
      //- br
      //- p I am excited to move onto the next phase of my developer career and education, joining a development team!


      //- new draft
      p I'm a developer with a passion for front end JavaScript.
      br
      p I enjoy making cool stuff in React and challenge myself by making things from scratch.
      br
      p I am self-directed learner and I love learning about all things code. You will often find me pouring over a new Medium article or reading about frameworks.
      br
      p And right now I'm playing around with Node.js and I love it!
