
.banner.blue
  .container
    .row
      .col.s12.white-text.flex-col
        h3 Patrick McCaffrey
        h2 Front End Developer
        h4 &amp; DataScientist
        .links.white-text
          a(href="#about")
            h3 about
          a(href="#projects")
            h3 projects
          a(href="#contact")
            h3 contact
