
.banner.blue
  .container
    .row
      .col.s12.white-text
        h1.center Patrick McCaffrey
        h2.center Front End Developer &amp; datascientist
        .links.white-text
          a(href="#about")
            h3 about
          a(href="#projects")
            h3 projects
          a(href="#contact")
            h3 contact
