
.banner.landing-bg
  .container
    .row
      .col.s12.flex-col.centers
        h4 Patrick McCaffrey
        h3 Front End Developer
        //- h4 &amp; DataScientist
        .col.s12.black-text
          a(href="#aboutTitle")
            p about me
          a(href="#projects")
            p my work
          a(href="#contact")
            p contact
