.cv.row.grey.lighten-3
  .col.s12.description.center
    .col.s12
      h3 Learn more about me
      p
      a(href="/assets/img/Patrick_McCaffrey_CV_Online.pdf").btn.blue.white-text
        i.fa.fa-file-text
        |   Curriculum Vitae
      br
      br
#contact.contact.row.scrollspy
  .col.s12.description.center
    h3 Get in touch
    p If you would like to get in contact please email me on:
    p.email.pixeltext patrickmccaffrey@sited.nz
    a(href="http://www.linkedin.com/in/patrick-mccaffrey").btn.blue.darken-2.white-text
      i.fa.fa-linkedin
      |  LinkedIn
    a(href="http://www.github.com/musedivision").btn.black.white-text
      i.fa.fa-github
      |  Github
