#contact.contact.row.progsect.grey.darken-4.scrollspy.white-text
  .col.s12.description.center
    .col.s12.m6
      p Contact
      form
        input
    .col.s12.m6
      p On the Shoulders of giants
      p Quincy Larson
      p FreeCodeCamp
      p Willrstern
      p DevTips
      p codingMath
