footer.page-footer.black.white-text
  .container
    .row
      .col.s12.m5.center

  .footer-copyright
    .container.center.grey-text.pixeltext
      p 1s &amp; 0s by
        a(href="http://www.sited.nz") &nbsp; patrick mccaffrey
