footer.page-footer.black.white-text
  .container
    .row
      .col.s12.m5.center
        a(href="/").logo.center: img(src="/assets/img/rabbithead.png")
        h4.belowLogo The White Rabbit on the Park
        | Victoria Park Market 37 Drake Street, <br>
        | Freemans Bay Auckland <br>
        br
        a(href=" http://maps.google.com/?q= the white rabbit on the park 37 Drake st, Freemans Bay, Auckland").btn.grey.lighten-5.grey-text.text-darken-3
          i.material-icons.left.red-text location_on
          | find us

      .col.s12.m3.center.hours
        h5 Hours
        hr
        p.italio Mon, Tues, Weds, Sun
        p 3pm - 1am
        p.italio Thurs, Fri
        p 7am - 1am
        br
        a(href="https://www.facebook.com/thewhiterabbitonthepark"): img(src="/assets/img/face.png").social
        a(href="https://www.instagram.com/thewhiterabbitonthepark/"): img(src="/assets/img/Insta.png").social
      .col.s12.m4.center.contact
        h5.center Contact us
        hr

        p For all inquiries please contact us on:
        a(href="mailto:info@thewhiterabbitonthepark.co.nz").text-darken-3 info@thewhiterabbitonthepark.co.nz


        a(href="tel:09 929 2790").btn.grey.lighten-5.grey-text.text-darken-3.phone
          i.material-icons.left.blue-text phone
          | 09 929 2790
  .footer-copyright
    .container.center.grey-text
      p Made with &#x2764 by
        a(href="http://www.sited.nz"): img(src="/assets/img/Sitedwordw.png").sited
