footer
  .laptop
    .row.footer-content
      .col.m3.s12
        center
          a(href="http://www.thewhiterabbitonthepark.co.nz"): img(src="/assets/img/rabbit_logo_black.png").logo
    .row.footer-content#info
      .col.m3.s12
        center
          h5.title-btn Info
          p THE WHITE RABBIT ON THE PARK <br> Victoria Park Market <br> 37 Drake Street, Freemans Bay <br> Auckland, New Zealand
      .col.m3.s12
        center
          a(href="/menu"): h5.title-btn Our Menu
          p GET SOCIAL
          a(href="https://www.facebook.com/thewhiterabbitonthepark.html"): img(src="/assets/img/face.png").social
          a(href=""): img(src="/assets/img/Insta.png").social

      .col.m3.s12
        center
          a(href="/reservations"): h5.title-btn Make a Reservation
          p Please call us <br> for making a booking <br> (09) 9292790 <br> OR email us at
          a(href="mailto:info@thewhiterabbitonthepark.co.nz"): p info@thewhiterabbitonthepark.co.nz
  .container.footer-content
    .row
