footer
  .laptop
    .row.footer-content
      .col.num2
        center
          a(href="http://www.thewhiterabbitonthepark.co.nz"): img(src="/assets/img/rabbit_logo_black.png").logo
    .row.footer-content#info
      .col.num1
        center
          h2.title-btn INFO
          h4 THE WHITE RABBIT ON THE PARK <br> Victoria Park Market <br> 37 Drake Street, Freemans Bay <br> Auckland, New Zealand
      .col.num2
        center
          a(href="/menu"): h2.title-btn OUR MENU
          h2 Get social
          a(href="https://www.facebook.com/thewhiterabbitonthepark.html"): img(src="/assets/img/face.png").social
          a(href=""): img(src="/assets/img/Insta.png").social

      .col.num3
        center
          a(href="/reservations"): h2.title-btn MAKE A RESERVATION
          h4 Please call us <br> for making a booking <br> (09) 9292790 <br> OR email us at
          a(href="mailto:info@thewhiterabbitonthepark.co.nz"): h4 info@thewhiterabbitonthepark.co.nz
