header
  nav.black
    .nav-wrapper.container
      a(href="#" data-activates="mobile-demo").button-collapse: i.material-icons menu
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href="#about"): h5.nav-btn About
        li
          a(href="#projects"): h5.nav-btn projects
        li
          a(href="#contact"): h5.nav-btn contact

      ul.side-nav#mobile-demo
        li
          a(href="#contact"): h5.nav-btn contact
