header
  nav.black
    .nav-wrapper.container
      a(href="/").brand-logo.center: img(src="/assets/img/rabbit.png")
      a(href="#" data-activates="mobile-demo").button-collapse: i.material-icons menu
      ul#nav-mobile.left.hide-on-med-and-down
        li
          a(href="/about"): h5.nav-btn About us
        li
          a(href="/menu"): h5.nav-btn Our Menu
      ul#nav-mobile.right.hide-on-med-and-down

        li
          a(href="/bookings"): h5.nav-btn Make a Booking
      ul.side-nav#mobile-demo
        li
          a(href="/about"): h5.nav-btn About us
        li
          a(href="/menu"): h5.nav-btn Our Menu
        li
          a(href="/bookings"): h5.nav-btn Make a Booking
