.indexabout
  .container
    .row
      .col.s12.m4.offset-m1
        h1.center Come for a drink and stay for the food
      .col.s12.m6
        br
        br
        br
        br
        p.center
          span Easily found on the fringes of Auckland’s bustling city life, The White Rabbit on the Park is quickly becoming a local favourite.

        p.center Nestled in the iconic Victoria Park Market, The White Rabbit on the Park prides itself on serving quality meals and drinks coupled with exceptional service. The restaurant serves up a bistro-styled seasonal menu infusing modern techniques into classic dishes. Be it a family get-together or after-work drinks, there’s something for everyone at The White Rabbit on the Park.
  .row
    .carousel.carousel-slider
      a(href="#one!").carousel-item
        img(src="/assets/img/front-min.jpg")
      a(href="#two!").carousel-item
        img(src="/assets/img/about-min.png")
      a(href="#three!").carousel-item
        img(src="/assets/img/bar-min.png")
      a(href="#four!").carousel-item
        img(src="/assets/img/hutch-min.jpg")
      a(href="#five!").carousel-item
        img(src="/assets/img/beer-min.jpg")
      a(href="#three!").carousel-item
        img(src="/assets/img/kitchen-min.png")

    //- what comes after the slider
    .row.menusection
      br
      br
      br
      br
      .col.s12.m6
        a(href="/menu")
          #foodpic
            h1.white-text.center Our Menu
      .col.s12.m6
        a(href="bookings")
          #bookingpic
            h1.white-text.center Bookings
