.row
  .col.s12.center
    h1 Portfolio
    p Below is a collection of my projects, in no particular order.


    .col.s12.m4.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.theoriginal.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 The Original
              i.material-icons.right expand_less
          .tags
            .chip Squarespace
            .chip HTML
            .chip CSS
            .chip CMS
            .chip Commercial

        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 The Original
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://www.theoriginal.co.nz").demo DEMO
            a(href="#").src SOURCE

    .col.s12.m4.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.whiterabbit.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 The White Rabbit
              i.material-icons.right expand_less
          .tags
            .chip Squarespace
            .chip HTML
            .chip CSS
            .chip CMS
            .chip Commercial

        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 The White Rabbit
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://www.thewhiterabbitonthepark.co.nz").demo DEMO
            a(href="#").src SOURCE

    .col.s12.m4.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.privateer.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 Privateer
              i.material-icons.right expand_less
          .tags
            .chip Gulp
            .chip Sass
            .chip Jade
            .chip Jekyll

        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 Privateer
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://singlekidd.s3-website-ap-southeast-2.amazonaws.com").demo DEMO
            a(href="https://github.com/musedivision/mothers_day").src SOURCE

    .col.s12.m4.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.solsearch.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 SolSearch
              i.material-icons.right expand_less
          .tags
            .chip Team
            .chip js
            .chip D3js
            .chip Agile

        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 Sol Search
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://www.solout.tk").demo DEMO
            a(href="https://github.com/omnidatum/omnidatum.github.io").src SOURCE

    .col.s12.m4.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.pomodoro.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 Pomodoro Timer
              i.material-icons.right expand_less
          .tags
            .chip React
            .chip javascript
            .chip Sass

        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 Pomodoro Timer
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://s.codepen.io/muse_division/full/GjJJxm").demo DEMO
            a(href="#").src SOURCE

    .col.s12.m4.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.calc.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 Javscript Calculator
              i.material-icons.right expand_less
          .tags
            .chip React
            .chip javascript
            .chip Sass

        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 Javascript calculator
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://codepen.io/muse_division/full/OXaJJq/").demo DEMO
            a(href="#").src SOURCE

    .col.s12.m3.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.weather.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 Local Weather
              i.material-icons.right expand_less
          .tags
            .chip js
            .chip jQuery
            .chip API

        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 Local Weather App
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://codepen.io/muse_division/full/bepvze/").demo DEMO
            a(href="#").src SOURCE

    .col.s12.m3.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.snap.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 SNAP
              i.material-icons.right expand_less
          .tags
            .chip Squarespace
            .chip HTML
            .chip CSS
            .chip CMS

        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 SNAP
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://www.snapsocial.co.nz").demo DEMO
            a(href="#").src SOURCE

    .col.s12.m3.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.wiki.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 Wikipedia Viewer
              i.material-icons.right expand_less
          .tags
            .chip javascript
            .chip Handlebar js
            .chip API
        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 Wikipedia Viewer
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://codepen.io/muse_division/full/jrMgzB/").demo DEMO
            a(href="#").src SOURCE

    .col.s12.m3.project-card
      .card.sticky-action
        .card-image.waves-effect.waves-light.quotes.ex-img.activator
        .card-content
          .main-cont
            span.card-title.activator.grey-text.text-darken-4 Quote Generator
              i.material-icons.right expand_less
          .tags
            .chip javascript
            .chip API
        .card-reveal
          span.card-title.activator.grey-text.text-darken-4 Random Quote Generator
            i.material-icons.right expand_more
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .card-action
            a(href="http://codepen.io/muse_division/full/bebrxp/").demo DEMO
            a(href="#").src SOURCE
