.row
  .col.s12.m6
    .col.s12.m6.mrmin
      h4 Javascript Calculator
      p stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
    .col.s12.m6.ex-img.calc.imgcenter
      h4.white-text
    .col.s12.m6.ex-img.pomodoro
      h4.white-text
    .col.s12.m6.mrmin
      h4 Pomodoro Time
      p REACT REACTDOM   stuff stuff stuff stuff stuff stuff stuff stuff stuff
    .col.s12.m6.mrmin
      h4 Weather App
      p jQuery jQuery stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
    .col.s12.m6.ex-img.weather.imgcenter
      h4.white-text

  .col.s12.m6.description
    h1 Javascript
    p From humble beginnings learning jQuery I have moved onto bigger things.
    p react / d3js
    P thewhiterabbit
    p theoriginal
