.container
  .row
    .col.m8.offset-m2.white-text
      h3.center I am a web developer making visually compelling websites
      br
.container
  .row
    .col.s12.orange-text.center
      h1 - my work -
  .row
    .col.m4
      .card-panel.hoverable
        h1 white rabbit
    .col.m4
      .card-panel
        h1 SNAP pic
    .col.m4
      .card-panel
        h1 Privateer pic

.row
  .col.s12.orange.center.pixeltext
    h1.white-text Lets build something
    a.btn.waves.btn-large.green#cta-btn go
    br
    br
