include heromenu.pug
.menu
  .container
    .row
      .col.s12.m6.offset-m3
        br
        br
        ul.center#menuBtn
          li
            a(href="paper/TWR Breakfast and Lunch.pdf").waves-effects.waves-light.btn-large.black Breakfast + Lunch
          li
            a(href="paper/TWR Grazing.pdf").waves-effects.waves-light.btn-large.black Grazing
          li
            a(href="paper/TWR Interim Menu 2016-07-04.pdf").waves-effects.waves-light.btn-large.black Dinner
          li
            a(href="paper/TWR Beverage.pdf").waves-effects.waves-light.btn.black  Beverages
        br
        br
        br
        br
