.menu
  .container
    .row
      .col.s12.m6.offset-m3
        h1.center Our Menu
        br
        ul.center#menuBtn
          li
            a(href="paper/TWR Interim Menu 2016-07-04.pdf").waves-effects.waves-light.btn-large.black Full Menu
          li
            a(href="paper/TWR Saturday Birthday Set Menu 2016-07-04.pdf").waves-effects.waves-light.btn.black  Birthday Saturday
          li
            a(href="paper/TWR Bar Menu 2016-07-04.pdf").waves-effects.waves-light.btn.black  Bar
          li
            a(href="paper/TWR Canape Options Menu 2016-07-04.pdf").waves-effects.waves-light.btn.black  Canape's
