#projects.projects.scrollspy
  .container
    .row
      .col.s12
        h1 My work
        .col.s12.m6.blue
          .col.s12.calculator
        .col.s12.m6.red
          .col.s12.twitch
        h1 Commercial
        .col.s12.m6.blue
          .col.s12.whiterabbit
        .col.s12.m6.red
          .col.s12.snap
        h1 Group &amp; Open Source
        .col.s12.m6.yellow
          .col.s12
            h1 SolSearch
            p USing, gulp, react, angular, browersifirfy , webpack
        .col.s12.m6.red
          .col.s12
            h1 snap
            p USing, gulp, react, angular, browersifirfy , webpack
