#projects.projects.scrollspy
  .container
    .row
      .col.s12
        h1 My work
        .col.s12.m6.blue
          .col.s12
            h1 Calculator.js
            p USing, gulp, react, angular, browersifirfy , webpack
        .col.s12.m6.red
          .col.s12
            h1 twitch tv channels
            p USing, gulp, react, angular, browersifirfy , webpack
        h1 Commercial
        .col.s12.m6.blue
          .col.s12
            h1 the white rabbit
            p USing, gulp, react, angular, browersifirfy , webpack
        .col.s12.m6.red
          .col.s12
            h1 snap
            p USing, gulp, react, angular, browersifirfy , webpack
        h1 Group &amp; Open Source
        .col.s12.m6.yellow
          .col.s12
            h1 SolSearch
            p USing, gulp, react, angular, browersifirfy , webpack
        .col.s12.m6.red
          .col.s12
            h1 snap
            p USing, gulp, react, angular, browersifirfy , webpack
