.row.progsect.blue.darken-3.white-text
  .col.s12.description.center
    h1 Qualifications
    .col.s12.m4.white.black-text
      p 2013
      p University of Auckland
      p Bachelors of Science in Psychology
    .col.s12.m4
      p 2014
      p University of Auckland
      p PostGraduate Diploma in Applied Behavioural Analysis
    .col.s12.m4.green
      p 2016
      p Free Code Camp
      p Front End Certificate
