.row.progsect
  .col.s12.m6.description
    h1 Datascience
    p I got theory, i got all the theories - synergy
    P Functional programming - Software design patterns in javascript
    p theoriginal
  .col.s12.m6
    .col.s12.m4.Rterminal.mrmin
    .col.s12.m4.solsearch.ex-img.imgcenter
      h4.white-text
    .col.s12.m4.yellow.mrmin
      h4.white-text D3js Bar Graph
    .col.s12
      h4 R
      p I know so much R it hurts my brain. I have never used it in production and hope i never have to
