.row.progsect
  .col.s12.m6.description
    h1 theory
    p I got theory, i got all the theories - synergy
    P Functional programming - Software design patterns in javascript
    p theoriginal
  .col.s12.m6
    .col.s12.m6
      h4 SolSearch
      p stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
    .col.s12.m6.solsearch.ex-img.imgcenter
      h4.white-text
    .col.s12.m6.yellow.mrmin
      h4.white-text skux or sux
    .col.s12.m6.mrmin
      h4 Skux
      p stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
