.row.black.white-text
  .col.s12.m4
    h3 The Tools
    p I have tried not to get caught up in the latest tools. However some have saved untold amounts of time and made my life easier.
    p I am familiar with:
    ul
      li Gulp
      li Webpack
      li Sass
  .col.s12.m8
    .col.s12.m4.mrmin.ex-img.atom
    .col.s12.m4.mrmin.ex-img.webpack
    .col.s12.m4.mrmin.ex-img.devtools
