.row
  .col.s12.m6.description
    h1 tools / workflow
    p HTML / CSS
    P thewhiterabbit
    p theoriginal
  .col.s12.m6
    .col.s12.m6
      h4 text blurb
      p stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
    .col.s12.m6.orange
      h4.white-text images
    .col.s12.m6.red
      h4.white-text images
    .col.s12.m6
      h4 text blurb
      p stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
