.row.progsect
  .col.s12.m6.description
    h1 Webdesign
    p I got a solid foundation in HTML &amp; CSS. They are what it takes to make the websites you see on the left
    P These projects are sample of my commercial experience. All made for current business' in Auckland.
    p Whiterabbit / theoriginal / privateer
    p Responsive mobile design / frameworks - materialise css / bootstrap. css3
    p Commission calculator - jQuery plugin implementationn with some custom code.
  .col.s12.m6
    .col.s12.m6.mrmin
      h4 The White Rabbit
      p stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
    .col.s12.m6.ex-img.whiterabbit
      h4.white-text
    .col.s12.m6.ex-img.theoriginal
      h4.white-text
    .col.s12.m6.mrmin
      h4 The Original Bar
      p stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
    .col.s12.m6.mrmin
      h4 privateer
      p stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff stuff
    .col.s12.m6.ex-img.privateer
      h4.white-text
