.banner-city
  height: 70vh
  background:
    image: url(/assets/img/skuxapartmnet.jpg)
    size: cover
    position: 50% 20%
  filter: saturate(0.8)

#herologo
  margin: 200px 0px
  height: 300px
  // filter: invert(100%)
  animation: intro
    timing-function: ease 2s


@keyframes intro
  0%
    transform: scale(0.1)
  100%
    transform: scale(1)
