.banner-city
  height: 450px
  background:
    image: url(/assets/img/banner-bg.png)
    size: cover
    position: 50% 50%
  filter: saturate(2)

#herologo
  margin: 50px 0px
  height: 300px
  filter: invert(100%)
  animation: intro
    timing-function: ease 2s


@keyframes intro
  0%
    transform: scale(0.1)
  100%
    transform: scale(1)
