.menu
  background-color: #fff
  .topnav
    display: flex
    background-color: black
    justify-content: center
    align-items: baseline
    height: 150px
    overflow: hidden
    img
      margin-top: -20px
      margin-bottom: -100px
      max-width: 250px
  ul li
    margin: 10px !important
    a
      font-size: 1.3em
      font-weight: bold
      display: block
      &:hover
        color: #fff
        transform: scale(1.1)
        background: teal

body
  background: #fff

.banner-menu
  height: 200px
  background:
    image: url(/assets/img/kitchen-min.png)
    size: cover
    position: 50% 50%
  .inside
    margin-top: 60px
