.calc
  background-image: url(/assets/img/calculator.png)
.twitch
  background-image: url(/assets/img/twitch.png)
.pomodoro
  background-image: url(/assets/img/pomodoro.png)
.weather
  background-image: url(/assets/img/weather.png)

.privateer
  background-image: url(/assets/img/privateer.png)
.theoriginal
  background-image: url(/assets/img/theoriginal.png)
.snap
  background-image: url(/assets/img/snap.png)
.whiterabbit
  background-image: url(/assets/img/whiterabbit.png)

.solsearch
  background-image: url(/assets/img/solsearch.png)



.calculator, .twitch, .theorginal, .snap, .whiterabbit, .privateer
  min-height: 200px !important


// section stuff

.ex-img
  height: 200px
  background:
    size: cover

.mrmin
  height: 200px

.imgcenter
  background:
    position: 50%


.progsect
  margin-top: 150px

.description
  margin-top: 50px

.norow
  padding: 0em
