.calculator
  background:
    image: url(/assets/img/calculator.png)
    size: cover
.twitch
  background:
    image: url(/assets/img/twitch.png)
    size: cover
.privateer
  background:
    image: url(/assets/img/privateer.png)
    size: cover
.theorginal
  background:
    image: url(/assets/img/theorginal.png)
    size: cover
.snap
  background:
    image: url(/assets/img/snap.png)
    size: cover
.whiterabbit
  background:
    image: url(/assets/img/whiterabbit.png)
    size: cover

.calculator, .twitch, .theorginal, .snap, .whiterabbit, .privateer
  min-height: 200px !important
